.collection-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
  justify-content: center;
}

h1 {
  flex: 1 1 100%;
  margin: 1rem 0;
  padding: 0;
  color: #CCC;
  text-transform: uppercase;
  text-align: center;
}

.loader {
  margin-top: 2rem;
}
