:host {
  display: flex;
  gap: 4px;
  align-items: center;
}

.cost-value {
  width: 15px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #c3c1c1;
  color: #000;
  border-radius: 100%;
  font-size: 12px;
  font-weight: 900;
}
