.cards-list {
  padding: 1rem;
  gap: 1rem;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 80px;

  &__title {
    color: #fff;
    margin: 0 auto;
    font-size: 1rem;
    text-align: center;
    flex: 1 1 100%;

    @media (min-width: 768px) {
      font-size: 1.6rem;
    }
  }

  @media (min-width: 768px) {
    max-width: 1024px;
    margin: 0 auto;
  }
}

.loader {
  margin: 60px auto;
}

.result-error {
  color: #F30;
  border: 1px solid #F30;
  border-radius: 12px;
  padding: 1rem;
}

.selected-cards.mat-mdc-raised-button:not(:disabled) {
  background: #F30;
  color: #FFF;
  padding: 1rem;
  text-align: center;
  text-transform: uppercase;
  position: fixed;
  bottom: 0;
  width: 100%;

  @media (min-width: 1024px) {
    width: 270px;
    right: 1rem;
    bottom: 1rem;
  }
}
