<form
  [formGroup]="form"
  class="filter-form"
  (ngSubmit)="filters.emit(this.form.getRawValue())"
>
  <app-logo></app-logo>

  <mat-form-field>
    <mat-label>Nome</mat-label>
    <input matInput formControlName="name" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Bloco</mat-label>
    <mat-select formControlName="block" required>
      @for (block of blocks; track block) {
      <mat-option [value]="block">{{ block }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <button
    mat-flat-button
    type="submit"
    color="primary"
    [disabled]="form.invalid"
  >
    <mat-icon>search</mat-icon>
    Buscar
  </button>
</form>
