/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #262626;
}

:root {
  --mat-option-selected-state-label-text-color: #fd0;
  --mdc-filled-text-field-focus-label-text-color: #fd0;
}

.mat-primary {
  --mat-minimal-pseudo-checkbox-selected-checkmark-color: #fd0;
}
